* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.player {
  margin: 100px auto auto 100px;
  display: flex;
  flex-direction: column;
  max-width: 440px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 0 0 20px rgba(255, 254, 254, 0.15);
}

.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.player-track-title {
  color: #000;
  font-size: 18px;
}

.player-progress {
  display: flex;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}

.player-progress-bar {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-radius: 3px;
  background: #F6F6EF;
}

.player-progress-inner {
  border-radius: 3px;
  background: #E783BC;
  width: 120px;
  height: 6px;
}

.player-button {
  display: flex;
  width: 74px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 37px;
  background: #E783BC;
  color: #fff;
}

audio {
  display: none;
}

body {
  background: #c7d2f2;
  color: #909090;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 15px;
}