* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
video {
  display: block;
}

.player {
  margin: 100px auto auto 100px;
  display: flex;
  flex-direction: column;
  max-width: 440px;
  padding: 30px;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 0 0 20px rgba(255, 254, 254, 0.15);
}

.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.player-track-title {
  color: #000;
  font-size: 18px;
}

.player-progress {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.player-progress-bar {
  height: 6px;
  border-radius: 3px;
  flex: 1;
  background: #F6F6EF;
}

.player-progress-inner {
  width: 120px;
  height: 100%;
  border-radius: inherit;
}

.player-button {
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}

.player-progress-inner, .player-button {
  background: #E783BC;
}

audio {
  display: none;
}

body {
  background: #c7d2f2;
  color: #909090;
  font: 700 15px Inter, sans-serif;
}